* {
    padding: 0;
    margin: 0;
    font-family: "Merriweather";
    box-sizing: border-box;
}

nav {
    display: flex;
    padding: 0 150px;
    height: 84px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 8px 20px 5px #00000014;

}

nav div {
    display: flex;
    gap: 60px;
}

nav div a {
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;

}


.underlinetext {

    text-decoration: underline #ff5678 4px;
    text-underline-offset: 8px;
}

#logo_zebb {
    height: 41px;
}

main {
    padding: 0 150px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding-top: 300px;
    padding-bottom: 200px;
    gap: 56px;
    width: 100%;
}

#verre {
    border-radius: 200px;
    background: rgba(255, 238, 246, 0.2);
    width: 592px;
    height: 508px;

}

#BRANDS {
    display: inline-block;
    color: #FFF;
    background-color: #ff5678;
    line-height: 0.9;
    padding-top: 4px;


}

.button {
    padding-block: 24px;
    padding-inline: 40px;
    border: none;
    background: rgba(2, 14, 53, 1);
    color: #FFF;
    font-weight: 900;
    font-size: 18px;
}

main .button {
    box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.25);
}

.Brands {
    display: flex;
    flex-direction: column;
    width: 548px;
    justify-content: space-between;
}


.Brands .button {
    margin-right: auto;
    margin-bottom: 51px;
}

h1 {
    font-size: 76px;
    line-height: 110px;
    font-weight: 900;

}

.powwer {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 100px 0
}

#gens {
    border-radius: 500px;
    background: rgba(255, 238, 246, 0.2);
    width: 592px;
    height: 508px;
}

h2 {
    font-size: 54px;
    font-weight: 700;
    padding: 0;
    
    left: 5px;
    position: relative;

}

.line{
    position: relative;
    overflow: visible;
    padding-right: 10px;

}
.line {
    display: inline-block;
    position: relative;
    align-self: flex-start;
}

.line::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 55%, #ff5b75 55%);
    z-index: -1;
    padding-right: 10px;
    
}
.powwer p {
    font-size: 18px;
    padding-top: 43px;
}

#playbutton {
    display: block;
    outline: none;
    background: transparent;
    border: none;
}

.powwer>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 517px;
    height: 435px;
    gap: 60px;
    box-sizing: border-box;
}

.diva {
    display: flex;
    flex-direction: row;
    gap: 63px;


}

.powwer>div>.diva>div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.diva>div {
    gap: 23px;
}

.powwer>div>div {
    gap: 63px;
}
.Thing>div:not(.krug) {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}
.tablo{
    display: flex;
    gap: 40px;
    flex-direction: column;
    
}

.blok p:not(.tete) {
    font-size: 18px;
}
.tete {
    font-size: 28px;
}
.entablo{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 40px;
}
.tablo>.blok {
    display: flex;
    flex-direction: column;
    
}
.chifre{
font-size: 64px;
    color: transparent;
    -webkit-text-stroke: 1px rgba(2, 14, 53, 1);
    padding: 0;
}
.blok {
     display: flex;
    flex-direction: column;
    gap: 20px;
}
.Thing h3 {
font-weight: 700;
font-size: 54px;
}
.Thing > div >div:first-child{
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.Thing{
    position: relative;
}
.krug{
display: inline;
width: 780px;
height: 670px;
angle: 0 deg;
opacity: 1;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 4px;
padding-right: 4px;
gap: 4px;
border-radius: 1000px;
background: rgba(255, 238, 246, 1);
position: absolute;
    z-index: -1;
top: 187px;
right: 0px;
left: -350px;
bottom: px;
}
.tablo{
    display: flex;
    width: 543px;
}
.obrigan{
    padding-top: 91px;
}
.customers{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-top: 100px;
}
h4{
    font-size: 54px;
    font-weight: 700;
}
.customers p{
    font-size: 18px;
    width: 481px;
}
.customers>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    width: 664px;
    align-items: flex-start;
}
