* {
  padding: 0;
  margin: 0;
  font-family: "Merriweather";
  box-sizing: border-box;
}

main {
  padding: 0 150px;
}

section:nth-of-type(n+2) {
  justify-content: space-between;
  padding-bottom: 100px;
  padding-top: 100px;
}

h1 {
  font-size: 76px;
  line-height: 110px;
  font-weight: 900;
}

h2,
h3,
h4,
h5 {
  font-size: 54px;
  font-weight: 700;
}

h1 {
  font-size: 76px;
  line-height: 110px;
  font-weight: 900;
}

h2 {
  left: 5px;
  position: relative;
}

h5 {
  display: flex;
  gap: 104px;
  justify-content: center;
}

.button {
  padding-block: 24px;
  padding-inline: 40px;
  border: none;
  background: rgba(2, 14, 53, 1);
  color: #FFF;
  font-weight: 900;
  font-size: 18px;
}

main .button {
  box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.25);
}

.line {
  position: relative;
  overflow: visible;
  padding-right: 10px;
  display: inline-block;
  align-self: flex-start;
}

.line::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent 55%, #ff5b75 55%);
  z-index: -1;
  padding-right: 10px;
}

nav {
  display: flex;
  padding: 0 150px;
  height: 84px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 8px 20px 5px #00000014;
}

nav div {
  display: flex;
  gap: 60px;
}

nav div a {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
}

.underlinetext {
  text-decoration: underline #ff5678 4px;
  text-underline-offset: 8px;
}

#logo_zebb {
  height: 41px;
}

.premiersection {
  display: flex;
  justify-content: space-between;
  padding-top: 300px;
  padding-bottom: 200px;
  gap: 56px;
  width: 100%;
}

.Brands {
  display: flex;
  flex-direction: column;
  width: 548px;
  justify-content: space-between;
}

.Brands .button {
  margin-right: auto;
  margin-bottom: 51px;
}

#BRANDS {
  display: inline-block;
  color: #FFF;
  background-color: #ff5678;
  line-height: 0.9;
  padding-top: 4px;
}

#verre {
  border-radius: 200px;
  background: rgba(255, 238, 246, 0.2);
  width: 592px;
  height: 508px;
}

.talantedPeople {
  display: flex;
  justify-content: space-between;
}

#gens {
  border-radius: 500px;
  background: rgba(255, 238, 246, 0.2);
  width: 592px;
  height: 508px;
}

.talantedPeople>div {
  display: flex;
  flex-direction: column;
  width: 517px;
  height: 435px;
  gap: 60px;
}

.talantedPeople p {
  font-size: 18px;
  padding-top: 43px;
}

.ButtonConteiner {
  display: flex;
  gap: 63px;
}

.ButtonConteiner>div {
  display: flex;
  align-items: center;
  gap: 23px;
}

#playbutton {
  display: block;
  outline: none;
  background: transparent;
  border: none;
}

.ThingWeEnjoy {
  position: relative;
}

.ThingWeEnjoy>div:not(.krug) {
  display: flex;
  justify-content: space-between;
}

.ThingWeEnjoy>div>div:first-child {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.listeServices {
  display: flex;
  gap: 40px;
  flex-direction: column;
  width: 543px;
}

.paddingList {
  padding-top: 91px;
}

.Service {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 40px;
}

.number {
  font-size: 64px;
  color: transparent;
  -webkit-text-stroke: 1px rgba(2, 14, 53, 1);
}

.textBlok {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.headText {
  font-size: 28px;
}

.textBlok p:not(.headText) {
  font-size: 18px;
}

.circle {
  position: absolute;
  z-index: -1;
  top: 187px;
  left: -350px;
  width: 780px;
  height: 670px;
  border-radius: 1000px;
  background: #ffeef6;
}

.ourCustomers {
  display: flex;
}

.ourCustomers>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  width: 664px;
  align-items: flex-start;
}

.ourCustomers p {
  font-size: 18px;
  width: 481px;
}

/*new refactoring*/
.MeetTheTeam>div {
  display: flex;
  flex-direction: column;
  gap: 51px;
}

.FLine {
  display: grid;
  grid-row: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 19px;
  align-items: center;
}

.gapint{
  gap: 32px;
}

.krug {
  width: 200px;
  height: 200px;
  background: rgba(255, 238, 246, 1);
  border-radius: 50%;
}

.Who {
  display: flex;
  font-size: 28px;
}

.QQ {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.one
 {
  display: grid;
  border: 1px solid rgba(184, 184, 184, 1);
  width: 519px;
  height: 519px;
  gap: 60px;
  border-radius: 50px;
  justify-content: center;
  padding: 88px 0px;
}

.Mark {
  width: 539px;
  height: 539px;
  box-shadow: 0px 20px 40px 5px rgba(0, 0, 0, 0.15);
}